<!--
  Generated template for the EventsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Events</ion-title>
</ion-navbar>

<ion-content padding class="events">
  	<ion-card *ngFor="let item of items">
		<ion-card-header>
            {{ item.title }}
        </ion-card-header>
	</ion-card>
</ion-content>
