<!--
  Generated template for the FaqPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>FAQ</ion-title>
</ion-navbar>

<ion-content padding class="faq">
 	<ion-card *ngFor="let item of items">
		<ion-card-content>
      <h2>{{ item.title }}</h2>
    </ion-card-content>
    <ion-card-content [innerHTML]=item.content>
            
    </ion-card-content>
	</ion-card> 
</ion-content>
