<!--
  Generated template for the ContactPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Contact</ion-title>
</ion-navbar>

<ion-content padding class="contact">
  
</ion-content>
