<!--
  Generated template for the NewsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>News</ion-title>
</ion-navbar>

<ion-content padding class="news">
	<ion-card *ngFor="let item of items">
	    <ion-card-header>
            {{ item.title }}
        </ion-card-header>
  		<img src="{{ item.featured_image.guid }}"/>
  		<ion-item>
    		<p>{{ item.date | DateDisplay }}</p>
  		</ion-item>
        <ion-card-content [innerHTML]=item.content>
            
        </ion-card-content>
    </ion-card>
</ion-content>
