<!--
  Generated template for the TeachersPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Teachers</ion-title>
</ion-navbar>


<ion-content padding class="teachers">
	<ion-card *ngFor="let item of items">
    <img src="{{ item.featured_image.guid }}"/>
		<ion-card-header>
            {{ item.title }}
        </ion-card-header>
	</ion-card>
</ion-content>
